# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore files
travelCarry.png
travelCarryClassDiagram.png
travelCarryClassDiagram.puml
travelCarryEntityDiagram.png
travelCarryEntityDiagram.puml
travelCarryObjDiagram.png
travelCarryObjDiagram.puml
travelCarrySeqDiagram.png
travelCarrySeqDiagram.puml
useCaseDiagram.png
useCaseDiagram.puml
